@use "sass:math";

@use "/app/styles/abstract/" as *;
@use "/app/styles/system";

.special {
	background: linear-gradient(
		to right,
		hslac($clr-green, 0.5) 15%,
		hslac($clr-green)
	);
	border-radius: system.$default-radius;
	box-shadow: $box-shadow;
	color: #fff;
	font-size: 1.8rem;
	position: relative;
	overflow: hidden;
	// max-width: 40rem; // control maximum size
	padding: math.div(system.$default-gap, 2) system.$default-gap;
	z-index: 5;
	min-width: 0;

	@include desktop {
		font-size: 2rem;
	}

	& > * {
		padding: math.div(system.$default-gap, 2) system.$default-gap;
	}

	.bubble {
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		width: 32.5rem;
		height: 32.5rem;
		bottom: -30%;
		left: -10%;
		background: linear-gradient(
			to right,
			hslac($clr-green, 0.5) 15%,
			hslac($clr-green)
		);
	}

	&Blue {
		@extend .special;
		background: linear-gradient(
			to right,
			hslac($clr-blue, 0.5) 15%,
			hslac($clr-blue)
		);

		.bubble {
			width: 30rem;
			height: 30rem;
			top: -30%;
			right: -10%;
			background: linear-gradient(
				to right,
				hslac($clr-blue, 0.5) 15%,
				hslac($clr-blue)
			);
		}
	}

	&Orange {
		@extend .special;
		background: linear-gradient(
			to right,
			hslac($clr-orange, 0.5) 15%,
			hslac($clr-orange)
		);

		.bubble {
			width: 30rem;
			height: 30rem;
			top: -30%;
			right: -10%;
			background: linear-gradient(
				to right,
				hslac($clr-orange, 0.5) 15%,
				hslac($clr-orange)
			);
		}
	}

	&Cyan {
		@extend .special;
		background: linear-gradient(
			to right,
			hslac($clr-cyan, 0.5) 15%,
			hslac($clr-cyan)
		);

		.bubble {
			width: 32.5rem;
			height: 32.5rem;
			bottom: -30%;
			left: -10%;
			background: linear-gradient(
				to right,
				hslac($clr-cyan, 0.5) 15%,
				hslac($clr-cyan)
			);
		}
	}

	&Header {
		z-index: 10 !important;
		position: relative;
	}

	&Body {
		position: relative;
		z-index: 10 !important;

		.imageBox {
			min-height: 17.5rem;
			position: relative;

			@include desktop {
				min-height: 20rem;
				margin-top: -6rem;
			}
		}
	}

	&Footer {
		span {
			display: block;
			z-index: 15;
		}
	}

	span {
		display: block;
		&.title {
			font-size: 2.4rem;
			margin-top: 2rem;

			@include desktop {
				font-size: 2.8rem;
			}
		}
	}
}
