$background-color: hsl(223, 100%, 99%);
$clr-light-blue: hsl(223, 100%, 99%);
$clr-dark-blue: hsl(208, 53%, 13%);
$clr-green: hsl(153, 61%, 49%);
$clr-black: hsl(0, 0%, 20%);
$clr-gray: hsl(240, 2%, 68%);
$clr-orange: hsl(15, 92%, 67%);
$clr-blue: hsl(215 100% 69%);
$clr-yellow: hsl(47, 100%, 69%);

$box-shadow: hsl(0 0% 0% / 0.1) 0px 0px 4px 0px,
	hsl(0 0% 0% / 0.1) 0px 0px 1px 0px;
