@use "/app/styles/system";

.productRow {
	h2 {
		font-size: 2.8rem;
		margin-bottom: system.$default-gap;
	}

	.rowDisplay {
		display: flex;
		flex-direction: row;
		gap: system.$default-gap;

		> * {
			flex-basis: 100%;
		}
	}
}
