@use "../abstract/" as *;
@use "../system";

.homeGrid {
	direction: rtl;
	display: grid;
	grid-auto-rows: minmax(1fr, max-content);
	grid-template-columns: 1fr;
	grid-template-areas:
		"navbar"
		"categories"
		"hero"
		"sale"
		"special"
		"browse"
		"why"
		"recommended"
		"special-2"
		"scroll"
		"footer"
		"copyright";

	background-color: hslac($background-color);

	// all items be 100%;
	& > * {
		// width: 100vw;
		padding: 0 system.$mobile-padding;

		@include desktop {
			padding: (system.$default-gap * 2) system.$desktop-padding;
		}
	}
}

.hero {
	grid-area: hero;
	display: flex;
	gap: system.$default-gap;
	flex-wrap: wrap;

	@include desktop {
		flex-wrap: nowrap;
	}

	& > *:nth-child(1) {
		flex: 1 1 75%;
	}

	& > *:nth-child(2) {
		flex: 1 1 25%;
	}

	&Slider {
		background-image: url("/images/ameen-almayuf-OQ4tJVXMCYM-unsplash.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: system.$default-radius;
		box-shadow: $box-shadow;
	}
	// &Product {
	// }
}

.sale {
	grid-area: sale;
}

.special {
	grid-area: special;
}

.browse {
	grid-area: browse;
}

.why {
	grid-area: why;
	padding: 0;
	position: relative;
	margin-top: system.$default-gap * 3;

	&Background {
		background: linear-gradient(
				to right,
				hslac($clr-cyan, 0.6) 70%,
				hslac($clr-cyan, 1)
			),
			url("/images/omid-armin-qjAUQD3APSQ-unsplash.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		color: #fff;
		padding: system.$default-gap system.$desktop-padding;
	}

	&Text {
		display: flex;
		flex-direction: column;
		font-size: 2.8rem;

		p {
			font-size: 2rem;
			margin: system.$default-gap 0;
		}

		ul {
			display: grid;
			gap: system.$default-gap * 2;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&Overlay {
		background: url("/images/pngkey.com-indian-students-png-images-3638423.png");
		background-size: cover;
		background-repeat: no-repeat;
		height: 40rem;
		width: 42.5rem;
		bottom: 0;
		left: system.$desktop-padding;
		position: absolute;
		z-index: 10;
	}
}

.recommended {
	grid-area: recommended;
}

.specialAgain {
	grid-area: special-2;
}

.scroll {
	grid-area: scroll;
}

.footer {
	grid-area: footer;
}

.copyright {
	grid-area: copyright;
}
